// .article-metadata {
//     margin-bottom: 15px;
//     overflow: hidden;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     color: rgba(0, 0, 0, 0.54);
  
//     a {
//       color: rgba(0, 0, 0, 0.54);
//     }
  
//     a:hover {
//       color: $sta-primary;
//     }
  
//     .author-notes {
//       cursor: help;
//       padding-left: 3px;
//     }

//   }
.author-highlighted {
font-weight: bold;
font-style: italic;
text-decoration: underline;
}